**/*/.version
clojure/**/.lein-failures
clojure/**/target
clojure/**/.lein-repl-history
clojure/**/.nrepl-port
ecmascript/*/node_modules
ecmascript/*/babel-output
ecmascript/*/yarn.lock
ecmascript/*/yarn-error.log
javascript/*/node_modules
javascript/*/babel-output
javascript/*/yarn.lock
javascript/*/yarn-error.log
erlang/*/_build/
ocaml/**/_build/
haskell/**/.stack-work

metadata.json
